%h1= @member.name

.post
  - if @member.image.exists?
    .align_center= image_tag(@member.column, :class => "inline", :alt => @member.name)

  - if @member.bio.blank?
    = @member.name
    does not have a public bio.
  - else
    = simple_format @member.bio

  - if logged_in? || @member.website.present?
    %br
    %br

    %ul.form
      - if @member.website_with_protocol.present?
        %li
          %label Website
          = link_to @member.website, @member.website_with_protocol

      - if logged_in?
        %li
          %label Email
          = obfuscated_mail_to @member.email unless @member.email.blank?
        %li
          %label Phone Numbers
          = @member.phone_numbers.blank? ? "Blank" : @member.phone_numbers
        %li
          %label Preferred Contact Method
          = @member.contact_method.humanize
        %li
          %label Address
          - if @member.address.blank?
            Blank
          - else
            = simple_format @member.address unless @member.address.blank?
        %li
          %label Space Number
          = @member.space_number
          &nbsp;
        %li
          %label Member Type
          = @member.renting_type
        - if @member.renting? && @member.dependent_members.any?
          %li
            %label Dependent Members
            %span= @member.dependent_members.map(&:name).to_sentence
        - elsif @member.subletting_member
          %li
            %label Subletting From
            %span= @member.subletting_member.name



%h1 Recent Pictures

.post
  - if @member.pictures.any?
    = render :partial => "pictures/pictures", :object => @member.pictures.recent

    %p= link_to "View all #{@member.pictures.size} of #{@member.name}'s pictures", picture_path(@member.permalink)
  - else
    = @member.name
    has not uploaded any pictures.
