%h1= @member.name

.post
  - if @member.image.exists?
    = image_tag(@member.column, :class => "inline", :alt => @member.name)

  - if @member.bio.blank?
    = @member.name
    does not have a public bio.
  - else
    = simple_format @member.bio

  - if logged_in? || @member.website.present?
    %br
    %br

    %ul.form
      - if logged_in?
        %li
          %label Email
          = obfuscated_mail_to @member.email unless @member.email.blank?
      - if @member.website_with_protocol.present?
        %li
          %label Website
          = link_to @member.website, @member.website_with_protocol
      - if logged_in?
        %li
          %label Address
          - if @member.address.blank?
            Blank
          - else
            = simple_format @member.address unless @member.address.blank?

%h1 Pictures

.post
  - if @member.pictures.any?
    TODO most recent pictures with count
    %br
    = link_to "View #{@member.name}'s picture gallery", picture_path(@member.permalink)
  - else
    = @member.name
    has not uploaded any pictures.
