= form_for current_member, :url => members_dashboard_path(current_member), :as => :member, :html => {:multipart => true} do |f|
  %h1 Your Dashboard
  .post
    %p
      This is where you can manage your personal information. Please keep it up to date! It is used to generate the contact list and to email you about meetings and events at the studio.
    %p
      Your personal information is kept private. Phone number, email address, and home address are only shown to other members who have logged in to the website. Never to the public.

    %ul.form
      = render :partial => "form", :locals => {:f => f}
      = f.item :submit, "Save"
      %li
        %label Site Administrator?
        %span= f.object.admin?.to_yesno
      - unless f.object.active?
        %li
          %label Status
          %span Inactive/

  %a{:name => "bio"}
  %h1 Public Bio

  .post
    %p
      This is your bio information that visitors to the Clifton Studios website will be able to see. Please fill out something about you and your work, even if it is just brief. You can also enter your website URL if you have a site where you display your work other than this one.

    %ul.form
      = f.item :text_area, :bio, :rows => 10, :cols => 50
      %li
        = f.label :website, "External Website URL"
        = f.text_field :website, :value => (f.object.website.blank? ? "http://" : f.object.website), :size => 40, :id => "website_url"
        = link_to_function(image_tag("/images/icons/link_preview.png", :alt => "Preview", :class => "no_border") + "&nbsp;Preview".html_safe, "preview_link('#website_url');", :title => "Preview")

      = f.item :file_field, :image, :label => "Select a Bio image"
      = render :partial => "shared/current_image", :locals => {:f => f, :alt => f.object.name}

      = f.item :submit, "Save"

%h1 Recent Pictures
.post
  - if current_member.pictures.any?
    = render :partial => "pictures/pictures", :object => current_member.pictures.recent
    %p= link_to "Add more pictures", members_pictures_path
  - else
    %p
      Members can add pictures of their work and their studio to the site. They are visible to anyone who visits the site and are linked to your profile.
    %p= link_to "Click here to add pictures to your profile.", members_pictures_path

