%h2 Recent Activity
- Audit.recent(3).each do |audit|
  %p
    - unless audit.auditable.is_a?(Member)
      - if audit.member
        = link_to audit.member.name, artist_path(audit.member)
      - else
        Someone
      = audit.action_verb unless audit.auditable.is_a?(Member)

    - case audit.auditable
      - when Member
        = "#{link_to(audit.auditable.name, artist_path(audit.auditable))}'s #{link_to('profile', artist_path(audit.auditable))} was #{audit.action_verb}".html_safe
      - when Post
        = link_to "a news post", post_path(audit.auditable)
      - when Event
        = link_to "an event", event_path(audit.auditable)
      - when Picture
        = link_to "a picture", picture_path(audit.auditable.member.permalink)
      - when Block
        = link_to "the #{audit.auditable.label} section", about_path
      - when Link
        = link_to "a link", links_path
      - when Executive
        = link_to "the executive", about_path
      - when Document
        - if audit.auditable.bylaw?
          the bylaws
        - else
          a document
      - else
        something

    = time_ago_in_words audit.created_at
    ago.

    - if audit.auditable.is_a?(Picture)
      = link_to image_tag(audit.auditable.thumb, :class => "thumb", :alt => audit.auditable.description), picture_path(audit.auditable.member.permalink)
