= render :partial => "header", :object => "Password reset"

%p= "Hello #{@member.name},"

%p Have you forgotten your password? Click on the link below to login and change it:

%p
  %a{:href => "http://cliftonstudios.ca/password_reset/#{@member.perishable_token}"}= "http://cliftonstudios.ca/password_reset/#{@member.perishable_token}"

%p If you have not requested a password change, just ignore this message.

= render :partial => "footer"
