= render :partial => "header", :object => "Password reset"

%p= "Hello #{@member.name},"

%p You have requested your password be reset and so it has been.

%p
  Your new password is:
  %span{:style => "font-weight: bold"}= @password

%p
  Login go your dashboard and you will be prompted to change it:
  %br
  %a{:href => "http://cliftonstudios.ca/login"} http://cliftonstudios.ca/login

= render :partial => "footer"
