%h1 Password Reset

.post
  = form_tag :url => password_reset_index_path do |f|
    = error_messages
    %div
      = label_tag :email
      = text_field_tag :email
    %div
      = submit_tag "Reset Password"

