= render :partial => "shared/sidebar/search"
= render :partial => "shared/sidebar/upcoming_events"
= render :partial => "shared/sidebar/follow"
= render :partial => "shared/sidebar/mailing_list"
= render :partial => "shared/sidebar/pictures"
= render :partial => "shared/sidebar/recent_activity"
