%h1
  - if event.new_record?
    = event.title
  - else
    = link_to event.title, event_path(event)
    
.subtext_left
  = event.prefix
  = event.starts_at.to_s :with_time_no_minutes
.subtext_right
  By
  = link_to event.member.name, artist_path(event.member)

.post.clear_right
  = link_to image_tag(event.inline, :class => "inline", :alt => event.title), event.full, :rel => "lightbox", :class => "thumb inline" if event.image.exists?
  = auto_link simple_format(event.body)
  .clear_right

