%h1
  - if event.new_record?
    = event.title
  - else
    = link_to event.title, event_path(event)
    
.subtext_left
  = event.prefix
  = event.starts_at.to_s :with_time_no_minutes
.subtext_right
  By
  = link_to event.member.name, artist_path(event.member)

.post.clear_right
  = simple_format event.body
