%h1 Sale and Open House

.post
  %p
    The studio show and sale takes place twice a year, May and December, on the first Friday and Saturday. They are open to everyone and have no cost.

  %p
    Upcoming sales:
    %ul.events
      - Event.next_two_sales.flatten.each do |date|
        %li= format_sale_dates date

%h1 Membership Meetings

.post
  %p
    Membership meetings take place twice a year and are for all studio members. They happen on the first Tuesday in April and the first Tuesday in October at 7:00PM.

  %p
    Upcoming meetings:
    %ul.events
      - Event.next_two_meetings.flatten.each do |date|
        %li= format_meeting_dates date

- if @events.any?
  - @events.each do |event|
    = render :partial => "event", :object => event

- else
  %h1 No Upcoming Events
  .post
    %p
      Keep an eye out for our next events or
      = link_to "subscribe to our RSS feed", "/rss.xml"

%h1 Past Events
.post
  - @past_events.each_pair do |year, events|
    %h2= year
    %ul.past_events
      - events.each do |event|
        %li
          %span.date= link_to "#{event.starts_at.to_s(:without_year)}", event_path(event)
          = ":"
          = link_to event.title, event_path(event)
