%h1 Sales and General Membership Meetings

.post
  %p
    The studio show and sale takes place twice a year. In spring it is on the Saturday before Mother's Day. In winter it is the last Saturday in November and the Sunday directly after it. Sales run from 11:00AM to 4:00PM. They are open to everyone and have no cost.
    The next two sales will take place on
    = format_recurring_dates Event.next_two_sales

  %p
    Membership meetings take place twice a year, on the first Tuesday in April and the first Tuesday in October, at 7:00PM.
    The next two meetings will take place on
    = format_recurring_dates Event.next_two_meetings

- if @events.any?
  - @events.each do |event|
    = render :partial => "event", :object => event

- else
  %h1 No Upcoming Events
  .post
    %p
      Keep an eye out for our next events or
      = link_to "subscribe to our RSS feed", "/rss.xml"

%h1 Past Events
.post
  - @past_events.each_pair do |year, events|
    %h2= year
    %ul.past_events
      - events.each do |event|
        %li
          %span.date= link_to "#{event.starts_at.to_s(:without_year)}", event_path(event)
          = ":"
          = link_to event.title, event_path(event)
