%h1 General Membership Meetings

.post
  %p
    Membership meetings take place twice a year, on the first Tuesday in April and the first Tuesday in October, at 7:00PM.
    The next two meetings will take place on
    = Event.next_two_meetings.first.to_time.to_s(:without_time)
    and
    = Event.next_two_meetings.last.to_time.to_s(:without_time)

- if @events.any?
  - @events.each do |event|
    = render :partial => "event", :object => event

- else
  %h1 No Upcoming Events
  .post
    %p
      Keep an eye out for our next events or
      = link_to "subscribe to our RSS feed", "/rss.xml"

%h1 Past Events
.post
  - @past_events.each_pair do |year, events|
    %h2= year
    %ul.past_events
      - events.each do |event|
        %li
          %span.date= link_to "#{event.starts_at.to_s(:without_year)}", event_path(event)
          = ":"
          = link_to event.title, event_path(event)
