%h1 About Clifton Studios

.post
  = link_to image_tag(@about.inline, :class => "inline", :alt => "Clifton Studios"), @about.full, :rel => "lightbox", :class => "thumb inline" if @about.image.exists?
  = simple_format @about.body
  .clear_right

- unless @executive.blank?
  %h1 Clifton Studios Co-op Executive
  .post
    %ul.form
      %li
        %table
          - @executive.each do |position|
            %tr
              %td.executive= position.title
              %td= position.member.name


= render :partial => "how_to_join"

- if logged_in?
  %h1 Studio Bylaws
  .post
    %ul.links
      - @bylaws.each do |bylaw|
        %li
          %h3= link_to bylaw.name, bylaw.file.url, target: '_new'
          %span
            Last updated
            = bylaw.updated_at.to_s(:words)
            %br
            %br
