= form_for [:members, @post], :html => {:multipart => true} do |f|
  = f.error_messages

  %ul.form
    = f.item :text_field, :title, :size => 50
    = f.item :text_area, :body, :cols => 50, :rows => 12
    - if f.object.permalink
      %li
        = f.label :permalink
        = f.object.permalink
        
    = f.item :file_field, :image, :label => "Upload image (optional)"
    = render :partial => "shared/current_image", :locals => {:f => f}

    = f.item :submit, "Save"
    = f.item :submit, "Preview"
