%h1
  Edit News Post:
  = @post.title

.post
  = render 'form'

  .image_links
    = index_entity_image members_posts_path, "Back to News Index"
    %br
    = destroy_entity_image members_post_path(@post), "Delete News Post"
    %br
    = show_entity_image post_path(@post), "View News Post"

- if @preview
  = render :partial => "posts/post", :object => @post
