%h1 Member Login

.post
  = form_for @member_session, :url => {:action => "create"} do |f|
    = error_messages @member_session
    %div
      = f.label :email
      = f.text_field :email
    %div
      = f.label :password
      = f.password_field :password
    %div
      = f.check_box :remember_me
      = f.label :remember_me
    %div
      = f.submit "Login"

  %p
    = link_to "Forgotten password", password_reset_index_path

