%h1 Member Login

.post
  = form_for @member_session, :url => {:action => "create"} do |f|
    = f.error_messages

    %ul.form
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.label :remember_me
        = f.check_box :remember_me
      %li
        %label &nbsp;
        = f.submit "Login"

  .image_links
    %p= link_to "Click here if you have forgotten your password", password_reset_index_path
