%h1 Member Login

.post
  = form_for @member_session, :url => {:action => "create"} do |f|
    = f.error_messages

    %ul.form
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.label :remember_me
        = f.check_box :remember_me
      %li
        %label &nbsp;
        = f.submit "Login"

  .image_links
    %p= link_to "Forget your password?", password_reset_index_path
    - if Rails.env.development?
      %p
        = form_for @member_session, :url => {:action => "create"} do |f|
          = f.hidden_field :email, :value => DEV_USERNAME
          = f.hidden_field :password, :value => DEV_PASSWORD
          = f.submit "Login as a developer"

