- content_for :js do
  :javascript
    $(document).ready(function(){
      if($('#login_email').val() != undefined && $('#login_email').val().length > 0)
        $('#login_password').focus();
      else
        $('#login_email').focus();
    });

%h1 Member Login

.post
  = form_for @member_session, :url => {:action => "create"} do |f|
    = f.error_messages

    %ul.form
      %li
        = f.label :email
        = f.email_field :email, :id => "login_email"
      %li
        = f.label :password
        = f.password_field :password, :id => "login_password"
      %li
        = f.label :remember_me
        = f.check_box :remember_me
      %li
        %label &nbsp;
        = f.submit "Login"

  .image_links
    %p= link_to "Forget your password?", password_reset_index_path
