%h1 Manage Executive Members

.post
  = form_tag :url => members_executive_index_path, :html => {:method => :post} do |f|
    = f.error_messages

    - @executive.each do |position|
      %div
        %label= position.title
        = select_tag(position.id, options_for_select(@members.map{|m| [m.name, m.id]), :selected => position.member_id))
    %div
      = f.submit "Save"
