%h1= @member.name

.post
  %ul.form
    %li
      %label Email Address
      = obfuscated_mail_to @member.email
    %li
      %label Address
      %div.address
        = simple_format @member.address
      &nbsp;
    %li
      %label Phone Number
      = @member.phone
      &nbsp;
    %li
      %label Alternate Phone Number
      = @member.alternate_phone
      &nbsp;
    %li
      %label Preferred Contact Method
      = @member.contact_method.humanize
      &nbsp;
    %li
      %label Website
      = link_to @member.website, @member.website_with_protocol if @member.website_with_protocol.present?
      &nbsp;
    %li
      %label Active?
      = @member.active?.to_yesno
    %li
      %label Site Administrator?
      = @member.admin?.to_yesno
    - if @member.system?
      %li
        %label System user?
        %em Yes
    %li
      %label Receive emails?
      = @member.receive_emails?.to_yesno
    %li
      %label Space Number
      = @member.space_number
      &nbsp;
    %li
      %label Member Since
      = @member.member_since
      &nbsp;
    %li
      %label Number of logins
      = @member.login_count
    %li
      %label Last Login
      = @member.last_login_at.blank? ? "Never" : @member.last_login_at.to_s(:with_time)
      &nbsp;
    %li
      %label Profile configured?
      = @member.profile_configured?.to_yesno
    %li
      %label Uploaded Pictures
      - if @member.pictures.any?
        = link_to "View #{@member.pictures.size} pictures", pictures_path(@member)
      - else
        None
    %li
      %label Bio Picture
      - if @member.image.exists?
        = link_to image_tag(@member.thumb, :class => "thumb"), @member.full, :rel => "lightbox", :class => "thumb"
      - else
        None set


  .image_links
    = show_entity_image artist_path(@member), "View Public Profile"
    %br
    = index_entity_image members_members_path, "Back to Studio Members Index"
    %br
    = edit_entity_image edit_members_member_path(@member), "Edit #{@member.name}'s Profile"
    - if current_member.admin?
      %br
      = custom_icon_entity_image "icons/link_preview.png", password_reset_members_member_path(@member), "Send Password Reset Email", method: :post
