%h1
  Pictures for
  = link_to @member.name, artist_path(@member)

.post
  - if @pictures.blank?
    Sorry, but #{@member.name} has not uploaded any pictures.

  - else
    = render :partial => "pictures", :object => @pictures, :locals => {:name => false}

  %p= link_to "View #{@member.name}'s profile page", artist_path(@member)