%h1 Meeting Minutes

.post
  = collection_index(@existing_minutes, ["Recorded Date", "File", "Actions"]) do |m|
    %tr{:class => cycle("odd", "even")}
      %td=m.recorded_at.to_s(:without_time)
      %td= link_to m.description, m.file.url
      %td
        = show_entity_image m.file.url, "Download"
        - if current_member.admin?
          %br
          = destroy_entity_image members_minutes_path(m), "Delete"

- if current_member.admin?
  %h1 Upload New Minutes

  .post
    %p Only administrators (don't worry, you are one) can upload new meeting minutes.
    %p Please upload only PDF file is possible.

    = form_for [:members, @minutes], :url => members_minutes_index_path, :html => {:multipart => true, :method => :post} do |f|
      = f.error_messages

      %ul.form
        = f.item :file_field, :file, :label => "Minutes Document"
        = f.item :text_field, :description, :rows => 3, :cols => 50, :label => "Description"
        = f.item :text_field, :recorded_at, :class => "datepicker", :size => "12", :note => "YY-MM-DD", :label => "Meeting Date"
        = f.item :submit, "Upload"
