%h1 Contact The Executive
.post
  %p Send a message directly to The Executive with questions or problems regarding anything at Clifton Studios. The Executive is currently #{Executive.to_sentence}.

  = form_tag members_contact_executive_index_path, :method => :post do
    %ul.form
      %li
        %label Subject
        = text_field_tag :subject, params[:subject], :size => 50
      %li
        %label Message
        = text_area_tag :message, params[:message], :rows => 12, :cols => 50
      %li
        %label Send Anonymously
        = checkbox_tag :anonymous
        %span.note Your name will not be attached to the message
      %li
        %label &nbsp;
        = submit_tag "Send"
