%h1 Please Setup Your Profile

.post
  = form_for current_member, :url => members_profile_index_path, :html => {:method => :post} do |f|
    = f.error_messages

    %p
      %span.bold Important! 
      It looks like you haven't entered some of the required personal information. It helps the studio contact you and helps members keep in touch with you. Without it you may miss important meetings or events.

    %p
      All your
      %span.bold private information stays private
      to everyone except Clifton Studios members. Don't worry!

    %p
      You can always update this information later from your dashboard page.

    %ul.form
      = f.item :text_field, :name, :size => 40, :label => "Full Name"
      = f.item :text_field, :email, :label => "Email Address", :size => 30
      = f.item :text_area, :address, :rows => 5, :cols => 40
      = f.item :text_field, :phone, :size => 12, :label => "Phone number"
      = f.item :text_field, :alternate_phone, :size => 12, :label => "Alternate phone number"
      %li
        = f.label :contact_method, "Preferred Contact Method"
        = f.select :contact_method, options_for_select(Member::CONTACT_METHODS.map{|c| [c.humanize, c]}, :selected => f.object.contact_method)
        %span.note Please only select 'Phone' if email is not possible
      = f.item :check_box, :receive_emails, :label => "Receive Emails?", :note => "Occasional emails about updates to the site, shows, and news"
      = f.item :submit, "Save"
