%h1 Change Password

.post
  = form_for current_member, :url => members_password_index_path, :html => {:method => :post} do |f|
    = f.error_messages

    - if !current_member.password_configured?
      %p Your password is set to something temporary and must be changed.

    %div
      = f.label :password
      = f.text_field :password
    %div
      = f.label :password_confirmation, "Re-type password"
      = f.text_field :password_confirmation
    %div
      = f.submit "Save"
