%h1 Manage Links

.post
  .image_links= new_entity_image new_members_link_path, 'Create new link'

  %p Drag and drop links to change their sort order.

  = collection_index @links, ["Title", "URL", "Description", "Actions"], :id => "sortable_table" do |link|
    %tr{:class => "#{row_class} sortable_row", :'data-link-id' => link.id}
      %td= link.title
      %td= link_to link.url, link.url
      %td= truncate_for_index link.description
      %td
        = edit_entity_image edit_members_link_path(link)
        = destroy_entity_image members_link_path(link)
