= form_for [:members, @event], :html => {:multipart => true} do |f|
  = f.error_messages

  %ul.form
    = f.item :text_field, :title, :size => 40
    = f.item :text_area, :body, :cols => 40, :rows => 8
    - if f.object.permalink
      %li
        = f.label :permalink
        = f.object.permalink
    %li
      = f.label :starts_at
      .datetime= f.datetime_select :starts_at
    %li
      = f.label :duration
      = f.select :duration, options_for_select((1..7).map{|x| [x,x]})
      %span Days

    = f.item :file_field, :image, :label => "Upload image (optional)"
    = render :partial => "shared/current_image", :locals => {:f => f}

    = f.item :submit, "Save"
    = f.item :submit, "Preview"
