%h1 All Active Mailing List Emails
.post
  = text_area_tag :emails, @entries.map(&:email).join(", "), :rows => 6, :cols => 60, :readonly => :readonly, :style => "width: 100%"

%h1 Add Email Manually
.post
  - form_tag members_mailing_list_index_path do
    %ul.form
      %li
        %label Email Address
        = text_field_tag :email
      %li
        %label &nbsp;
        = submit_tag "Add"

%h1 Manage Active Emails
.post
  = collection_index(@entries, ["Email", "Added Date", "Actions"]) do |entry|
    %tr{:class => cycle("odd", "even")}
      %td= entry.email
      %td= entry.created_at.to_s(:with_time_no_minutes)
      %td.align_center= button_to "Deactivate", members_mailing_list_path(entry), :method => :put, :confirm => "Are you sure you want to deactivate this email address?"
