%h3= member.name
%p= simple_format member.address
%p
  - unless member.phone.blank?
    = member.phone
    %br
  = link_to member.email, "mailto:#{member.email}"
  - unless member.website.blank?
    %br
    = link_to member.website, member.website
