- unless Rails.env.development?
  - content_for :js do
    :javascript
      $(document).ready(function(){
        setTimeout("window.print()", 1000);
      });

%h1 Clifton Studios Members
%h2
  Printed on
  = Time.now.to_s(:words)

%table
  - @members.each do |member|
    %tr
      %td
        %h3= member.name
        = member.phone_numbers
        %br
        = member.email
      %td= simple_format member.address
