- print_on_page_load

%h1 Clifton Studios Members
%h2
  Printed on
  = Time.now.to_s(:words)

%table
  - @members.each do |member|
    %tr
      %td
        %h3= member.name
        - unless member.space_number.blank?
          = "Space ##{member.space_number}"
          %br
        = member.phone_numbers_formatted
        %br
        = member.email
      %td= simple_format member.address
