!!!
%html
  %head
    %title= page_title

    = auto_discovery_link_tag(:rss, '/rss.xml')

    = stylesheet_link_tag ["fonts", "base", "jquery-ui"]

    = javascript_include_tag :defaults
    = javascript_include_tag "members" if members_area?
       
    <!--[if IE]>
    = javascript_include_tag 'jquery.corner', 'ie'
    <![endif]-->

    = yield :js
    
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}

    = csrf_meta_tag
    %meta{:name => "keywords", :content => META[:keywords] || ""}
    %meta{:name => "description", :content => META[:description] || ""}

  %body
    #bgwrapper
      #top= render :partial => "shared/top"
      #header
        %table
          %tr
            %td
              %h1= link_to "Clifton Studios", root_path
            %td
              %h2 Artist Co-op
      #column
        #borderwrapper
          = render :partial => "shared/nav"
          #main
            #sidebar
              = render :partial => "shared/members/sidebar" if logged_in?
              = render :partial => "shared/members/nav" if logged_in?
              = render :partial => "shared/sidebar"
            #content
              = render :partial => "shared/flashes"
              = yield
            .clear
    #footer= render :partial => "shared/footer"
