!!!
%html
  %head
    %title= page_title

    = auto_discovery_link_tag(:rss, '/rss.xml')

    - ["fonts", "base", "jquery-ui", "jquery.fancybox", "jquery.qtip"].each do |stylesheet|
      = stylesheet_link_tag "/stylesheets/#{ stylesheet }.css"

    = javascript_include_tag "application"
    = javascript_include_tag "members" if members_area?
    = javascript_include_tag "tooltips" if !mobile_device?

    <!--[if IE]>
    = javascript_include_tag 'jquery.corner', 'ie'
    <![endif]-->

    = yield :js

    %link{rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico"}

    = csrf_meta_tag
    - META.each_pair do |key, value|
      %meta{name: key, content: value}

  %body
    #bgwrapper
      #top= render partial: "shared/top"
      #header
        %table
          %tr
            %td
              %h1= link_to "Clifton Studios", root_path
            %td
              %h2
                Artist Co-op
                - if Rails.env.development?
                  %span.warning (Development)
      #column
        #borderwrapper
          = render partial: "shared/nav"
          #main
            #sidebar
              = render partial: "shared/members/sidebar" if logged_in?
              = render partial: "shared/members/nav" if logged_in?
              = render partial: "shared/sidebar"
            #content
              = render partial: "shared/flashes"
              = yield
            .clear
    #footer= render partial: "shared/footer"
