!!!
%html
  %head
    %title= page_title

    = auto_discovery_link_tag(:rss, '/rss.xml')

    = stylesheet_link_tag ["base"]

    = javascript_include_tag :defaults

    = yield :js
    
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}

    = csrf_meta_tag
    %meta{:name => "keywords", :content => META[:keywords] || ""}
    %meta{:name => "description", :content => META[:description] || ""}

  %body
    #top= render :partial => "shared/top"
    #header Clifton Studios
    #nav= render :partial => "shared/nav"
    #main
      #sidebar= render :partail => "shared/sidebar"
      #content= yield
    #footer
      %p.credits
        &copy; #{Time.now.year}
        = obfuscated_mail_to ADMIN_EMAIL, "Kevin McPhillips"

