!!!
%html
  %head
    %title Clifton Studios Members List

    = stylesheet_link_tag "print_contact_list"
    = stylesheet_link_tag "print_contact_list", media: :print

    = javascript_include_tag "application"

    = yield :js

    %link{rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico"}

    = csrf_meta_tag

  %body
    = yield
