!!!
%html
  %head
    %title Clifton Studios Members List

    - ["fonts", "print_contact_list"].each do |stylesheet|
      = stylesheet_link_tag "/stylesheets/#{ stylesheet }.css"
      = stylesheet_link_tag "/stylesheets/#{ stylesheet }.css", media: :print

    = javascript_include_tag "application"

    = yield :js

    %link{rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico"}

    = csrf_meta_tag

  %body
    = yield
